      <!--or-->
      <div class="row center-aligned" style="margin-top:50px">
          <div class="col s5">
              <hr style="width:50%">
          </div>

          <div class="col s2">
              OR
          </div>

          <div class="col s5">
              <hr style="width:50%">
          </div>
      </div>

      <!--social logins, Facebook, Google, Twitter-->
      <div class="row center-aligned" style="margin-top:50px">
          <div class="col s4">
              <a class="btn" href="#">
                  <i class="fa fa-facebook"></i>
              </a>
          </div>

          <div class="col s4">
              <a class="btn" href="#"><i class="fa fa-twitter"></i></a>
          </div>

          <div class="col s4">
              <a class="btn" href="#"><i class="fa fa-google"></i></a>
          </div>
      </div>
