<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home_page/style.css')}}">
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
	<title>ChamaYetu</title>
</head>