<div id="login-modal" class="modal">
  <div class="modal-content">
      <div class="row">
          <div class="col s12">
              <ul class="tabs">
                  <li class="tab col s3"><a href="#login-form">Login</a></li>
                  <li class="tab col s3"><a class="active" href="#sign-upform">Sign Up</a></li>
              </ul>
          </div>
          <!--Login form-->
          <div id="login-form" class="col s12">
              
          </div>
          <!--Sign Up form-->
          <div id="sign-upform" class="col s12">
              <div class="row">
               <form class="col s12" enctype="multipart/form-data" action="/signupAction" method="post">
                   <!--first and last names-->
                   <div class="row">
                       <div class="input-field col s6">
                           <input name="first_name" id="first_name" type="text" class="validate">
                           <label for="first_name">First Name</label>
                       </div>
                       <div class="input-field col s6">
                           <input name="last_name" id="last_name" type="text" class="validate">
                           <label for="last_name">Last Name</label>
                       </div>
                   </div>
                   <!--email-->
                   <div class="row">
                       <div class="input-field col s12">
                           <input name="email" id="email" type="email" class="validate">
                           <label for="email">Email</label>
                       </div>
                   </div>
                   <!--password-->
                   <div class="row">
                       <div class="input-field col s12">
                           <input name="password" id="password" type="password" class="validate">
                           <label for="password">Password</label>
                       </div>
                   </div>
                  <input type="submit" class="btn btn-primary" value="Sign Up">
               </form>
              </div>
          </div>
      </div>
  </div>

  <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

