/*side*/

.cd-top-nav{
    color: white;
    
}

/*MILESTONE*/

.mile textarea{
    height: 100px;
    width: 50%;
    border: 1px solid black;
    
}
.mile button{
    
    height: 20px;
    width: 50px;
}