<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chama Yetu</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home_page/materialize.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/dashstyle.css')}}">
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
   
<!--full body content-->
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Home</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
              <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>

          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item"><a href="{{url_for('home.index')}}">Group Details</a></li>
            <li class="mdl-menu__item"><a href="{{url_for('home.index')}}">Logout</a></li>
          </ul>
        </div>
      </header>

        <div class="fixed mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <div class="demo-avatar-dropdown">
            <span>{{ username }}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" >arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">{{ username }}</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >home</i>Dashboard</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >inbox</i>Inbox</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >delete</i>Trash</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >flag</i>Updates</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" >help_outline</i><span>Help</span></a>
        </nav>
      </div>

        <!-- Modals for sign up and login -->
        {% include 'user_dashboard/statement_modal.html' %}

      <main class="mdl-layout__content mdl-color--grey-100">
          <!--Graphs-->
          <div class="mdl-grid">
            <!--brief graph card-->
            <div class="mdl-cell">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ chama_statement.title }}</span>
                            <p>Date From: {{ chama_statement.dateFrom }}</p>
                            <p>Date To: {{ chama_statement.dateTo }}</p>
                            <p>Amount: Ksh. {{ chama_statement.totalAmount }}</p>
                        </div>
                        <div class="card-action">
                            <!--Link to more details about chama details, display modal-->
                            <a class="modal-trigger" href="#chama-statement-modal">More details</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--brief statement card-->
            <div class="mdl-cell">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ chama_statement.title }}</span>
                            <p>Date From: {{ chama_statement.dateFrom }}</p>
                            <p>Date To: {{ chama_statement.dateTo }}</p>
                            <p>Amount: Ksh. {{ chama_statement.totalAmount }}</p>
                        </div>
                        <div class="card-action">
                            <!--Link to more details about chama details, display modal-->
                            <a class="modal-trigger" href="#chama-statement-modal">More details</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project details-->
            <div class="mdl-cell">
                <div class="col s12 m6">
                    <div class="card darken-1">
                        <div class="card-content">
                            <span class="card-title">Project Details</span>
                            <p>{{ chama_details.projectname }}</p>
                            <p>{{ chama_details.projdate }}</p>
                        </div>
                        <div class="card-action">
                            <!--Link to more details about chama details, display modal-->
                            <a class="modal-trigger" href="#chama-statement-modal">More details</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Next Meeting details-->
            <div class="mdl-cell">
                <div class="col s12 m6">
                    <div class="card darken-1 mdl-color--deep-purple-500">
                        <div class="card-content white-text">
                            <span class="card-title">Next meeting</span>
                            <p>{{ chama_details.nextMeetingTime }}</p>
                        </div>
                        <div class="card-action">
                            <div class="mdl-card--border">
                                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">{{ chama_details.venue }}</a>
                                <i class="material-icons">location_on</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
        
      </main>
    </div>

    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/materialize.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
    <script type="text/javascript">
           {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                           Materialize.toast('{{ message }}', 4000) // 4000 is the duration of the toast
                    {% endfor %}
                {% endif %}
          {% endwith %}
    </script>
  </body>
</html>