<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/style.css')}}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/app.css')}}">
	
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
	<title>ChamaYetu</title>
</head>
<body>
	<header class="cd-main-header">
<!--todo:	get it working-->
	
<!--

		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div>  cd-search 
-->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
			<div class="total">
			<span>AMOUNT</span>
{% for chama in chamas %}
				<li>
                    

    {{ chama.name}}<br>
    {{chama.total_amount}}<br>
    {{chama.milestones}}
<!--        {{date}}<br>-->
                </li>  

    {% endfor %}
                </div>
                
				

			</ul>
		</nav>
	</header> <!-- .cd-main-header -->
	
	
	
	

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label">Main</li>
				<li class="has-children overview">
					<a href="#0">Overview</a>

					<ul>
						<li><a href="#0">All Data</a></li>
						<li><a href="#0">Category 1</a></li>
						<li><a href="#0">Category 2</a></li>
					</ul>
				</li>

			</ul>

			<ul>
<!--			add milestones -->
            
            
				<li class="cd-label">Secondary</li>
				<li class="has-children bookmarks">
					<a href="{{url_for('dashboard.add_milestone')}}">Add Milestone</a>
					<!--<a href="milestone.html">Add Milestone</a>-->


				</li>
				<li class="has-children images">
					<a href="#0">Images</a>

					<ul>
						<li><a href="#0">All Images</a></li>
						<li><a href="#0">Edit Image</a></li>
					</ul>
				</li>

				<li class="has-children users">
					<a href="#0">Users</a>

					<ul>
						<li><a href="#0">All Users</a></li>
<!--	for chairman-->
						<li><a href="#0">Edit User</a></li>
						<li><a href="#0">Add User</a></li>
						
						
					</ul>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Action</li>
				<li class="action-btn"><a href="#0">+ Button</a></li>
			</ul>
		</nav>

		<div class="content-wrapper">
<!--
		<div>
		
			<h1>MONTHLY STATEMENT</h1>
    {% for x in statement %}
			<div>
{{x.amount}}
            </div>
    {%endfor%}

		</div>
-->
<!--		milestones-->
    



    <div>
       {% for chama in chamas %}
       <p>
      {{ chama.milestones }}
       </p>
        {% endfor %}
    </div>



		
		
	
		
			
		</div> <!-- .content-wrapper -->

		
	</main> <!-- .cd-main-content -->
<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-2.1.4.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.menu-aim.js')}}"></script>
</body>
</html>