<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/style.css')}}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/app.css')}}">
	
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
	<title>ChamaYetu</title>
</head>
<body>

<div class="mile">
        <h3>MILESTONES</h3>
        <form  method='POST'>
            <textarea>

            </textarea>
            <button type="submit" value='create'>add</button>
        </form>


		</div>

</body>
</html>