{% include 'head.html' %}
<nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">ChamaYetu</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/blog">Blog</a>
            </li>
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/about">About</a>
            </li>
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/contact">Contact</a>
            </li>
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/auth/login">Login</a>
            </li>
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/auth/register">Sign Up</a>
            </li>
        </ul>

        <!--view on mobile device-->
        <ul id="nav-mobile" class="side-nav">
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/auth/login">Login</a>
            </li>
            <li>
                <a class="waves-effect waves-light modal-trigger" href="/auth/registe">Sign Up</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block content %}

{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--Auth JS-->
<script src="{{url_for('static', filename='mod_auth/js/auth.js')}}"></script>

<script src="{{ url_for('static', filename='js/vendor/materialize.min.js')}}"></script>
<script src="{{ url_for('static', filename='mod_auth/js/init.js') }}"></script>

 <script type="text/javascript">
           {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                           Materialize.toast('{{ message }}', 4000) // 4000 is the duration of the toast
                    {% endfor %}
                {% endif %}
          {% endwith %}
    </script>
</body>
</html>